body {
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 108px;
    padding-bottom: 132px;
    width: 100%;
    background-color: #de2b24;
}
.main{
    /* padding: 50px; */
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #1286bf;
}
.main-wrapper {
    width: 684px;
    max-width: 100%;
    padding: 50px;
}
@media screen and (max-width: 768px) {
    .main-wrapper {
        padding: 0 15px;
    }
}
.main-container{
    width: 100%;
    /* max-width: 100%; */
    /* margin: 0 auto ;  */
}
.main-container__text{
    text-align: center;
    padding-top: 100px;  
}
.main-container__text-header{
    font-family: Inter;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 36px;
    margin: 0;  
}
.main-container__text-description{
    font-family: Inter;
    font-weight: 100;
    color: #FFFFFF;
    font-size: 22px;
    margin: 0;
}
.main-container__text-icon{
    fill: #fff;
    width: 59px;
    height: 59px;
    margin: 17px auto 17px;
}
.main-container__form{  
    position: relative;
    bottom: 20px;   
}
.main-container__form-form{
    position: relative;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 687px; */
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}
.main-container__form-triangle{
    width: 60px;
    margin: 0 auto;
    
}
.main-container__form-triangle img{
   width: 59px;
   position: relative;
   top:19px;
}
.main-container__form-form-text{
    height: 38px;
    font-family: Inter;
    font-weight: 100;
    color: #828282;
    font-size: 15px;
    text-align: center;
    padding: 30px  38px;  
}
.main-container__form-form-input {
    padding: 0 15px;
}
.main-container__form-form-input .text-field {
    display: block;
    border: 1px solid #a39a9a;
    outline: none;
    padding-left: 40px;
    width: 444px;
    max-width: 100%;
    height: 51px;
    border-radius: 5px;
    opacity: 0.5;
    margin: 0 auto 9px;
}
@media screen and (max-width: 768px) {
    .main-container__form-form-input .text-field {
        width: 85%;
    }     
}
.main-container__form-form-input .text-field::placeholder {
    color: #666363;
    font-family: Inter;
}
.main-container__form-form-input .text-field:hover {
    box-shadow: 0px 0px 2px 2px #7ddeeb;
    cursor: pointer;
    opacity: 0.5;
}
.main-container__form-form-input .text-field:focus {
    box-shadow: 0px 0px 3px 3px #49c3d3;
    cursor: pointer;  
    opacity: 0.5;  
}
.main-container__form-form-input .submit-btn {
    display: block;
    outline: none;
    border-radius: 5px;
    border: 1px solid #de2b24;
    width: 162px;
    height: 47px;
    margin: 36px auto 0;
    text-align: center;
    font-family: Inter;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #de2b24;
}
.main-container__form-form-input .submit-btn:hover {
    background-color: #df4742;
    cursor: pointer;
}
.main-container__form-form-input .submit-btn:active {
    box-shadow: inset 0px 0px 4px 1px rgb(153, 11, 11);
    cursor: pointer;
    transform:scale(0.95) ;
}
.main-container__form-form .exit-button{
    position: absolute;
    padding: 0;
    top: -20px;
    right: -20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #de2b24;
    color: #fff;
    border: 2px solid #fff;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
}
@media screen and (max-width: 768px) {
    .main-container__form-form .exit-button {
        display: none;   
    }
}
.main-container__form-form .exit-button:active{
    box-shadow: inset 0px 0px 4px 1px rgb(153, 11, 11);
    cursor: pointer;
    transform:scale(0.95) ;
}
.main-container__form-form .exit-button:hover{
    cursor: pointer;
    background-color: #df4742;
}
.floor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 91px;
    width: 100%;
    height: 491px;
    background-color: #2a2a2a;
}
.floor-text{
    font-family: Inter;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 26px;
    margin: 0;
}
.floor-wrapper{
    text-align: center;
}
.floor-icon-block{
    display: inline-block;
    width: 46px;
    height: 46px;
    background: #2a2a2a;
    border: 2px solid #615e5e;
    border-radius: 5px;
    margin: 30px 10px ;
}
.floor-icon-block:hover{
    border: 2px solid #ff1c1c;
    cursor: pointer;
}
.floor-icon-block.icon-1{
    background: url(../images/icon1.png);
    background-repeat: no-repeat; 
    background-position: center; 
}
.floor-icon-block.icon-2{
    background: url(../images/icon2.png);
    background-repeat: no-repeat;
    background-position: center;   
}
.floor-icon-block.icon-3{
    background: url(../images/icon3.png);
    background-repeat: no-repeat;
    background-position: center;   
}
.floor-icon-block.icon-4{
    background: url(../images/icon4.png);
    background-repeat: no-repeat;
    background-position: center;   
} 
.floor-description{
    font-family: Inter;
    font-weight: 500;
    color: #CECECE;
    font-size: 14px;
}
.floor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}
.floor .email-address{
    display: block;
    margin: 30px auto 28px;
    width: 684px;
    max-width: calc(100% - 26px);
    height: 55px;
    padding-left: 20px;
    background-color: #2a2a2a;
    border: 2px solid #615e5e;
    border-radius: 5px;
    font-family: Inter;
    color: #CECECE;
    font-size: 14px;
}
.floor .email-address::placeholder{
    font-family: Inter;
    color: #CECECE;
    font-size: 14px;
}
.floor .button{
    width: 150px;
    height: 50px;
    background-color: #2a2a2a;
    border: 2px solid #615e5e;
    border-radius: 5px;
    font-family: Inter;
    color: #CECECE;
    font-size: 17px;
}
.floor .button:hover{
    border: 2px solid #706f6f;
    cursor: pointer; 
}
.floor .button:active{
    box-shadow: inset 0px 0px 4px 1px #1a1919;
    cursor: pointer;
    transform:scale(0.95) ;
}
.footer{
    padding-top: 52px;
    width: 100%;
    height: 68px;
    background-color: #515151; 
    text-align: center;
}
.footer .footer-copyright{
    font-family: Inter;
    font-size: 19px;
    color: #CECECE;
}
.projectPreview{
    width: 256px;
    height: 254px;
    display: flex;
    flex-direction: column;
    text-align: center;
    float: left;
    background-color: #f35e58;
    transition: all 0.3s ease;
}
.projectPreview:hover {
    box-shadow: 0px 0px 11px 7px #0f0f0f3d;
    position: relative;
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.3s ease;
}
.projectPreview.img-1 {
    background: url(../images/photo1.png);
    background-position: right;
}
.projectPreview.img-2 {
    background: url(../images/photo5.png);
    background-position: center;
}
.projectPreview.img-3 {
    background: url(../images/photo3.png);
    background-position: center;
    background-size: 160%;
    background-repeat: no-repeat;
}
.projectPreview.img-4 {
    background: url(../images/photo7.png);
    background-position: 50% 100%;
}
.projects-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    font-size: 0;
}
h1{
    font-family: Inter;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 36px;
    margin: 0;
}
.header p{
    font-family: Inter;
    font-weight: 100;
    color: #FFFFFF;
    font-size: 22px;
    margin: 0;
}
.line{
    margin: 16px auto 46px;
    width: 48px;
    height: 6px;
    background-color: #F3F3F3ff;
}
.projects-wrapper i{
    font-size: 36px;
    color: #fff;
    opacity: 0.4;
}
.fa.fa-paper-plane{
    margin: 76px auto 25px;
}
.header .projects-wrapper .projectPreview h3{
    font-family: Inter;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 26px;
    opacity: 0.7;
    margin: 0;
}
.header .projects-wrapper .projectPreview p{
    font-family: Inter;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
    opacity: 0.7;
    margin: 0;
}
